.header {
    background-color: #333;
    overflow: hidden;
}

.header ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

.header .other {
    float: left;
}
.header a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.header a:hover {
    background-color: #877e7e;
    color: black;
}

.header .us{
    color: yellow;
    background-color: gray;
    border-radius: 10px;
    float: right;
    margin-bottom: 15px;
}

.front-page img{
width: 100%;
height: auto;
position: relative;
}
.front-page .text{
    position: absolute;
    top: 30%;
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: rgba(51, 49, 49, 0.624);
    color: white;
    padding: 10px; 
    border-radius: 5px; 
}
.front-page .par {
    position: absolute;
    top: 45%;
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: rgba(23, 23, 23, 0.624); 
    color: white;
    padding: 10px; 
    border-radius: 5px; 
}
.front-page .centered-text {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  
